          <section>
         
            <article>
              <h2>My <span>Flickr Feed</span></h2>
              <div style="width:800px;height:600px;text-align:center;margin:auto;" ><object width="800" height="600" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"  codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"> <param name="flashvars" value="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F96013078%40N03%2Fshow&amp;page_show_back_url=%2Fphotos%2F96013078%40N03%2F&amp;user_id=96013078@N03&amp;tags=peterwatters" /> <param name="allowFullScreen" value="true" /> <param name="src" value="https://www.flickr.com/apps/slideshow/show.swf?v=71649" /> <embed width="800" height="600" type="application/x-shockwave-flash" src="https://www.flickr.com/apps/slideshow/show.swf?v=71649" flashvars="offsite=true&amp;lang=en-us&amp;page_show_url=%2Fphotos%2F96013078%40N03%2Fshow&amp;page_show_back_url=%2Fphotos%2F96013078%40N03%2F&amp;user_id=96013078@N03&amp;tags=peterwatters" allowFullScreen="true" /> </object><br /><small></small></div>
             
          </article> 

        </section>
