 <section>

  <article>
  <h2>Social <span>Media</span></h2>
  <p> 
  You can find me on all of the usual social media using the links to the left. 
<!--
   <script type="text/javascript">	
	//mandatory----------------
	//var tumblrBlogLink="http://codehandling.tumblr.com/";	
	//var tumblrApiKey="fuiKNFp9vQFvjLNvx4sUwti4Yb5yGutBN4Xh10LXZhhRKjWlV4";
	 var tumblrBlogLink="http://peterwatters.tumblr.com/";
 	 var tumblrApiKey="nkKquWIZznM9pwnuLaylruhVIA4ecxN8oSlQTwPY0hgEaW8SXf";	
	//optional-----------------
	var tumbaxWidgetWidth = 800; 
	var pathToLoadingImage = './loader.gif';
	var tumbaxColumns = 2;

	</script>

	<style type="text/css">

	/* HIDE header*/
	#tumbax-header{display:none;}	
	#tumbax-encloser {background-color:rgb(255, 255, 255);}
	.tumbax-video-tnail-box{background-color:whitesmoke;}
	.tumbax-video-list-div {background-color: rgb(255, 255, 255)!important;}

	</style>

		<div id="tumbax">		</div>
-->


   </p>
</article> 
        

 <article>
  <h2>My <span>Twitter Feed</span></h2>
  <p> 
    <a class="twitter-timeline" href="https://twitter.com/Peter_J_W" data-widget-id="479653720645312514">Tweets by @Peter_J_W</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </p>
</article> 
        

 </section>
